.containerNewPassword{
    position: relative;
    width: 400px;
    min-height: 450px;
    overflow: hidden;
    top:50px;
    color: black;
    background:p #ffffff;
    border-radius: 20px;
    text-align: center;
    margin: auto auto;
    border-width: 1px;
    border-color: #a4a4a4;
    box-shadow: 0 4px 8px 0 #a4a4a4, 0 6px 12px 0 #a4a4a4;
    vertical-align: text-top;
}
.titleNewPassword{
    margin-top: 15%;
    font-size: 1.8rem;
    margin-bottom: 20%;
}
.inputEmail{
    width: 300px;
    padding: 12px 20px;
    border-radius: 30px;
    margin: auto auto;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
}
.inputEmail:hover{
    border-color: #a4a4a4;
    box-shadow: 0 4px 8px 0 #a4a4a4, 0 6px 12px 0 #a4a4a4;

}
.buttonNewPassword{
    background-color: #04AA6D;
    color: white;
    padding: 14px 30px;
    margin: auto auto;
    border: none;
    cursor: pointer;
    width: 300px;
    border-radius: 30px;
    display: block;
    font-size: 15px;
    font-weight:600;
    margin-top: 5%;
}
.buttonNewPassword:hover{
    opacity: 0.7;
    color: black;
}

.back{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link{
    color: #25415a ;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    color: #2271b3;
}